@import "fonts"
@import "libs"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	outline: none
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	position: relative
	min-width: 320px
	width: 100vw
	font-family: $default-font
	overflow-x: hidden
	background: #005B96
	padding: 0
	margin: 0
	appearance: none

::selection
	background-color: $accent
	color: #fff

.fixed-header
	position: fixed
	top: 0
	left: 0
	right: 0
	z-index: 9999

.inline-middle > *
	display: inline-block
	vertical-align: middle

.container
	width: 782px
	margin: 0 auto

.c-container
	width: 1024px
	margin: 0 auto

.fullframe__images
	background: white

.blue__content
	background-color: #005b96
	background-image: url(/img/backgrounds/decor_lines.svg)
	background-repeat: no-repeat
	background-size: cover
	background-position: right
	z-index: 1

a
	text-decoration: none

.top-header
	background: rgba(0, 91, 150, 0.75)
	color: white
	font-size: 10px
	line-height: 100%
	a
		color: white
		text-transform: uppercase
		padding: 5px 0 5px
		line-height: 0
		&:hover
			color: #BBCF33

.dropdown-default__value
	background: rgba(255, 255, 255, 0.2)
	padding: 5px 9px 7px
	cursor: pointer
	span
		margin-right: 3px
	&:hover
		color: #BBCF33

.top-h_link
	margin-left: 18px

.top-header__content
	text-align: right

.dropdown-_value
	display: none
	position: absolute
	background: rgba(0, 0, 0, 0.5)
	width: 100%
	text-align: center
	z-index: 2
	a
		display: block
		padding: 10px 0
		&:hover
			background: rgba(0, 0, 0, 0.5)

.top-h_dropdown__menu
	position: relative


.big__slider-item
	height: 616px

.big__slider-content_container
	position: absolute
	top: 50%
	z-index: 99
	width: 376px
	transform: translate(0, -50%)
	color: white

.big__slider-title
	font-size: 50px
	line-height: 50px
	font-weight: bold

.big__slider-content
	font-size: 14px
	line-height: 20px
	margin: 24px 0
	font-weight: 300

.stadrt__button
	position: relative
	display: inline-block
	text-transform: uppercase
	letter-spacing: 0.3em
	padding: 8px 16px 7px
	line-height: 100%
	font-weight: bold
	font-size: 10px
	z-index: 1
	&:before
		content: ''
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		transform: skew(170deg)
		z-index: -1


.stadrt__button.green:before
	background: #BBCF33

.stadrt__button.green:hover:before
	background: $gradient


.stadrt__button.green
	color: white
	&:after
		content: ''
		display: inline-block
		background-image: url('../img/icons/arrow_button.svg')
		width: 24px
		height: 8px
		margin-left: 12px
		transition: 0.2s ease-in-out
	&:hover:after
		margin-left: 20px

.text__button
	position: relative
	display: inline-block
	text-transform: uppercase
	letter-spacing: 0.3em
	font-weight: bold
	font-size: 10px
	background: none
	border: 0
	outline: none
	cursor: pointer
	&.green
		color: #BBCF33
		&:after
			background-image: url('../img/icons/arrow-green.svg')
	&.white
		color: white
		&:after
			background-image: url('../img/icons/arrow_button.svg')
	&:after
		content: ''
		display: inline-block
		width: 24px
		height: 8px
		margin-left: 12px
		transition: 0.2s ease-in-out
	&:hover:after
		margin-left: 20px
	&[data-size='middle']
		font-size: 18px
		letter-spacing: 0.07em
		line-height: 22px

.col-a_1
	display: grid
	grid-template-columns: auto 1fr

.col-2
	display: grid
	grid-template-columns: 1fr 1fr

.col-2_top
	&> *
		display: inline-block
		vertical-align: top
		width: 49%

.nav-menu__content
	position: relative
	// padding: 19px 0
	&:after
		content: ''
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		transform: skew(170deg)
		background: white
		z-index: -1
	.logotype
		padding: 19px 0


.g-content
	width: 1024px
	margin: 0 auto

.menu__list
	text-align: right
	padding-top: 15px
	a
		position: relative
		display: inline-block
		color: #005B96
		font-size: 14px
		font-weight: bold
		padding: 21px 14px 35px
		z-index: 0
		&:hover
			color: white
			&:after
				content: ''
				display: block
				position: absolute
				background: #005B96
				height: 100%
				width: 100%
				bottom: 0
				left: 0
				transform: skew(170deg)
				z-index: -1
			&:before
				content: ''
				display: block
				position: absolute
				background: #66CCFF
				height: 3px
				width: 100%
				bottom: 0
				left: -6px
				transform: skew(180deg)
				z-index: 1

.logotype
	line-height: 0
	img
		height: 50px

.big__slider
	position: relative

.big__slider-dots
	position: absolute
	left: 0
	right: 0
	bottom: 0
	&:after
		content: ''
		position: absolute
		width: 100%
		height: 100%
		background: linear-gradient(90deg, #71CAF3 0%, #BBCF33 100%)
		bottom: 0
		z-index: 1
		opacity: 0.7

.big__slider
	position: relative

.big__slider-dots_container
	z-index: 2

.big__slider-dot_title
	color: white
	font-weight: 300
	font-size: 20px

.slick-current .big__slider-dot_line
	height: 3px
	border-radius: 100px
	background: #BBCF33
	margin-bottom: 10px

.big__slider-dot_line
	display: block
	width: 64px
	height: 1px
	background: white
	margin-bottom: 12px

.big__slider-dot_item
	padding: 25px 0 26px

.col-5
	display: grid
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr

.gap-30
	grid-gap: 30px

.ff-images__block
	padding: 17px 0 13px
	text-align: center
	a
		display: inline-block
		line-height: 0
		img
			height: 22px

.parallelogram__content
	padding-top: 78px

.parallelogram-item__title h4
	text-transform: uppercase
	font-weight: 300

.parallelogram__content-block h1
	font-size: 40px
	color: #005B96
	width: 110%
	margin: 0 0 20px
	line-height: 40px

.parallelogram-item__content
	padding-left: 110px
	padding-top: 50px
	padding-bottom: 45px
p
	margin: 0
	&[data-size="middle"]
		font-size: 18px
		line-height: 22px
	&[data-size="normal"]
		font-size: 14px
		line-height: 22px

[data-font_weight="light"]
	font-weight: 300

[data-font_weight="bold"]
	font-weight: bold

[data-text_align="right"]
	text-align: right

[data-text_align="left"]
	text-align: left

.parallelogram__item.first .parallelogram-item__content:after
	content: ''
	display: block
	position: absolute
	top: 0
	left: 0
	width: 616px
	height: 100%
	background: url('/img/backgrounds/rectangle_1.svg') no-repeat
    background-position-y: 0
    background-size: 100%
	z-index: 1

.parallelogram-item__content
	position: relative

.parallelogram__content-block
	position: relative
	z-index: 2

.parallelogram-links
	margin-top: 40px

.bigger_count > div
	display: inline-block
	vertical-align: bottom

.bigger__number
	font-size: 140px
	font-weight: 900
	line-height: 95%

.bigger__text
	font-size: 40px
	font-weight: 900

.bigger_count
	color: #005B96
	margin-bottom: 15px

.stock_blue-p
	font-size: 24px
	color: #005B96
	font-weight: 300

.parallelogram__item.second .parallelogram-item__content
	top: 130px
	padding-left: 150px
	min-height: 500px
	&:after
		content: ''
		display: block
		position: absolute
		top: 0
		bottom: 0
		left: 0
		width: 100%
		height: 100%
		background: url(/img/backgrounds/rectangle_2.svg) 50% no-repeat
		background-size: 100%
		background-position-y: 0

.parallelogram__content-block h5
	text-transform: uppercase
	font-size: 18px
	margin: 30px 0 15px
	line-height: 22px
	letter-spacing: 0.07em
	color: #71caf3

.parallelogram__item.second .parallelogram__content-block
	padding-right: 110px
	padding-top: 20px

.custom_button-nav
	display: inline-block
	margin: 0 1px
	cursor: pointer
	span
		position: relative
		font-size: 0
		display: inline-block
		padding: 32px 27px
		min-width: 85px
		z-index: 1
	&.owl-prev span:before
		background: url('/img/icons/arrow_left-white.svg') 50% no-repeat
	&.owl-next span:before
		background: url('/img/icons/arrow_right-white.svg') 50% no-repeat
	span
		&:after
			content: ''
			display: block
			position: absolute
			width: 100%
			height: 100%
			background: #BBCF33
			transform: skewX(-10deg)
			margin: 0 1px
			top: 0
			left: 0
			z-index: -1
		&:before
			content: ''
			display: inline-block
			position: absolute
			width: 30px
			height: 8px
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
		&:hover
			&:after
				background: $gradient

.parallelogram-item__content .owl-nav
	position: absolute
	bottom: 0
	right: 50px
	z-index: 1

.parallelogram__content-slider
	margin-bottom: 20px

.parallelogram__item
	&.first h4
		margin-left: 110px
		color: #71CAF3
	&.second h4
		position: absolute
		margin-left: 140px
		margin-top: 90px
		color: #BBCF33
	h4
		font-size: 18px
		line-height: 22px

.main__service-slider
	margin-top: 150px
	padding-bottom: 115px

.custom-section__title h4
	font-size: 18px
	line-height: 22px
	color: #71CAF3
	font-weight: 300
	text-transform: uppercase
	letter-spacing: 0.1em
	margin: 0 0 30px

.main__service-slider-item
	width: 230px

.col-4
	display: grid
	grid-template-columns: 1fr 1fr 1fr 1fr

.gap-30
	grid-gap: 30px

.section-advan__item-title
	font-size: 20px
	font-weight: bold
	color: #005B96
	margin: 15px 0 10px

.section-advan__item-image img
	display: block

.advantages
	position: relative
	background-color: white
	background-image: url('/img/backgrounds/advan_back.svg')
	background-repeat: no-repeat
	background-size: 100% auto

.section-advan__item-desc
	font-size: 14px
	color: #005B96
	font-weight: 300

.section-advan__container
	padding: 130px 0 50px

.section-title__hightlight
	position: absolute
	padding: 70px 90px 30px 230px
	text-align: right
	top: -40px
	left: 0
	z-index: 1
	h4
		margin: 0
		font-weight: 300
		font-size: 18px
		line-height: 22px
		letter-spacing: 0.1em
		text-transform: uppercase
		color: #005B96
	&:after
		content: ''
		position: absolute
		width: 100%
		height: 100%
		background: $light-gradient
		top: 0
		left: -10px
		transform: skewX(-10deg)
		z-index: -1

.fullwidht_video
	position: relative
	min-height: 475px
	a
		position: absolute
		display: block
		height: 100%
		left: 0
		right: 0
		top: 0
		.video__container
			padding-top: 200px

.video__title
	position: absolute
	font-size: 30px
	font-weight: 900
	color: #005B96
	top: 45%
	transform: translate(0, -50%)

.video__icon-block
	position: absolute
	top: 45%
	left: 50%
	transform: translate(-50%, -50%)
	width: 200px
	height: 200px
	text-align: center
	padding-top: 65px
	border: 4px solid #005B96
	border-radius: 100%
	padding-left: 10px


.footer__custom-section_first-container
	display: grid
	grid-template-columns: 600px auto

.f__c-s_f-s__item-title
	font-size: 24px
	line-height: 170%
	color: #005B96

.f__c-section_f-slider__item
	padding-left: 102px
	padding-top: 50px
	width: 530px

.f__c-s_f-s__item-title h2
	margin: 0 0 20px
	font-weight: 900

.f__c-s_f-s__item-subtitle
	letter-spacing: 0.07em
	text-transform: uppercase
	font-weight: bold
	font-size: 16px
	line-height: 22px
	color: #71CAF3
	margin-bottom: 20px

.f__c-s_f-s__item-content
	font-weight: 300
	font-size: 14px
	line-height: 22px
	margin: 20px 0
	color: #4D4D4D
	max-width: 400px

.f__c-section_first-slider
	padding-right: 40px
	padding-bottom: 65px
	&:after
		content: ''
		display: block
		position: absolute
		background: white
		top: 0
		left: 0
		width: 100%
		height: 100%
		z-index: -2
		clip-path: polygon(0 0, 100% 0, 93% 100%, 0% 100%)
	.owl-nav span:after
		transform: skewX(-6deg)

.footer__custom-section_first .owl-nav
	position: absolute
	text-align: right
	right: 39px
	bottom: 0

.f__c-section_second-content
	position: relative
	padding: 84px 98px 60px 92px
	color: #FFFFFF
	clip-path: polygon(8.3% 0, 100% 0, 100% 100%, 0 100%)
	left: -48px
	width: 470px
	margin-top: 82px

.f__c-s_s-c__title
	font-weight: 800
	font-size: 40px
	line-height: 40px
	margin-bottom: 30px

.f__c-s_s-c__content
	font-weight: 300
	font-size: 14px
	line-height: 22px
	max-width: 150px
	margin-bottom: 30px

.f__c-section_second-title h4
	position: absolute
	padding: 30px 50px
	background: rgba(255, 255, 255, 0.65)
	margin: 0
	clip-path: polygon(0.45% 0, 100% 0, 100% 100%, 0 100%)
	left: -10px
	z-index: 1
	width: 100vw
	font-weight: 300
	font-size: 18px
	line-height: 22px
	letter-spacing: 0.1em
	text-transform: uppercase
	color: #005B96

.footer__custom-section_second
	position: relative

.footer__custom-section
	position: absolute
	left: 0
	right: 0
	margin-top: -82px

.inner__index-page__footer
	 padding-top: 120px

.main__index-page__footer
	padding-top: 330px

.main__footer
	background-color: #003353
	background-image: url('/img/backgrounds/footer_lines.svg')
	background-repeat: no-repeat
	background-size: cover
	padding-bottom: 75px

.footer__phone
	font-weight: 300
	font-size: 25px
	line-height: 14px
	margin-left: 35px
	.hightlight
		font-weight: 900
		font-size: 35px
		line-height: 14px
	img
		margin-left: 10px
	a
		color: white


.footer__head
	margin-bottom: 30px

.col-a_a
	display: grid
	grid-template-columns: auto auto

.footer_copyrite
	color: white
	font-size: 14px
	font-weight: 300

.gap-50
	grid-gap: 50px

.footer__address-head a
	font-weight: 900
	font-size: 14px
	line-height: 14px
	color: white
	opacity: 0.4
	text-decoration: underline
	margin-right: 15px
	&.active
		opacity: 1
	&:last-child
			margin-right: 0

.footer__address-content
	display: none
	margin-top: 15px
	font-weight: 300
	font-size: 14px
	line-height: 22px
	color: white
	&.active
		display: block

.footer__foo
	margin-top: 25px
	.footer__link
		font-weight: 900
		font-size: 14px
		line-height: 14px
		color: white
		text-decoration: underline

.footer__block-logotypes
	position: absolute
	text-align: right
	left: 0
	right: 0
	bottom: 0

.footer__block-logo_item
	margin-left: 30px

.footer__block
	position: relative

.main__service-slider-item
	clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%)
	margin: 0 -20px
	padding: 30px 70px
	color: white
	min-height: 400px

.main__service-slider-title
	font-weight: bold
	font-size: 18px
	line-height: 24px
	max-width: 150px
	margin-bottom: 20px
	&:after
		content: ''
		display: block
		width: 40px
		height: 2px
		border-radius: 100px
		background: white
		margin-top: 25px

.main__service-slider-subtitle
	font-size: 14px
	line-height: 15px
	letter-spacing: 0.05em
	text-transform: uppercase
	color: #FFFFFF

.main__service-slider-footer
	margin-top: 50px

.pulse
	cursor: pointer
	box-shadow: 0 0 0 rgba(0, 91, 150, 0.25)
	animation: pulse 2s infinite

@keyframes pulse
	0%
		box-shadow: 0 0 0 0 rgba(0, 91, 150, 0.25)
	70%
		box-shadow: 0 0 0 50px rgba(0, 91, 150, 0)
	100%
		box-shadow: 0 0 0 0 rgba(0, 91, 150, 0)

.nav-menu_mobile, .mobile-menu_block
	display: none

.mobile-menu_block.active
	display: block

.nav-menu_mobile
	position: relative
	background: white
	padding: 20px 72px

.menu_hamburger-button
	position: absolute
	width: 90px
	height: 90px
	background: #005B96
	top: 0
	right: 0
	cursor: pointer
	transition: $transition

.nav-menu_mobile-logotype a
	display: block
	line-height: 0

.menu_hamburder-icon
	display: inline-block
	width: 90px
	height: 90px
	background: url('/img/icons/hamburger.svg') 50% no-repeat
	background-size: 40px

.menu_hamburger-button:hover
	background: #71CAF3

.mobile-menu_block
	position: absolute
	top: 90px
	left: 0
	right: 0
	height: 100vh
	background: rgba(255, 255, 255, 0.9)
	padding: 30px 0
	text-align: center
	a
		display: block
		font-size: 22px
		font-weight: bold
		color: #015B96
		padding: 20px 0
		&:hover
			color: #71CAF3
			text-decoration: underline

.clients_block
	position: relative
	min-height: 420px
	color: white
	overflow: hidden

.grid-block
	display: block

.col-3
	display: grid
	grid-template-columns: 1fr 1fr 1fr

.main-content
	padding-top: 91px

.clients-content
	padding-top: 160px

.head__title
	font-size: 20px
	text-transform: uppercase
	font-weight: 300
	letter-spacing: .1em
	color: #71CAF3
	margin: 0 0 20px

.clients-grid
	padding: 10px 0 0

.client-grid_block
	padding: 40px

.c-g_b__title
	position: relative
	font-size: 18px
	padding-bottom: 20px
	margin: 0 0 15px
	z-index: 1

.c-g_b__desc
	position: relative
	font-size: 16px
	text-transform: uppercase
	letter-spacing: .1em
	z-index: 1

.c-g_b__title:after
	position: absolute
	content: ''
	display: block
	width: 40px
	height: 3px
	background: white
	bottom: 0

.c-g_b__footer-block
	position: absolute
	bottom: 40px
	right: 40px
	left: 40px
	text-transform: uppercase
	font-weight: 300
	font-size: 18px
	line-height: 24px
	z-index: 1

.c-g_b__footer-block.hover
	bottom: -50px
	transition: all 750ms cubic-bezier(.19,1,.22,1)

.c-g_b__desc-hover
	position: relative
	z-index: 1
	margin-top: 30px
	color: white
	left: -350px
	transition: all 750ms cubic-bezier(.19,1,.22,1)

.clients_block:after
	content: ''
	position: absolute
	left: 0
	right: 0
	top: 0
	bottom: 0
	background: black
	opacity: 0.5
	z-index: 0
	transition: all 750ms cubic-bezier(.19,1,.22,1)

.c-g_b__footer
	z-index: 1

.clients_block:hover
	.c-g_b__desc-hover
		left: 0
	&:after
		background: #66CCFF
		opacity: 0.8

.c-g_b__desc-h_block
	margin-bottom: 15px
	&:last-child
		margin-bottom: 0
	p
		margin-top: 7px

.clients_block:hover .c-g_b__footer-block
	display: none
	&.hover
		display: block
		bottom: 40px

.footer_line
	min-height: 30px
	background: linear-gradient(288.47deg, #D7ED76 -2.3%, #C3E9A5 59.17%, #9CE0FF 91.37%)

.contact_city-container
	position: relative
	// top: -5px

.contact_city-link
	position: relative
	padding: 20px
	line-height: 100%
	font-weight: bold
	color: #005B96
	font-size: 32px
	&.active:before
		content: ''
		position: absolute
		border: 20px solid transparent
		border-bottom: 20px solid #66CCFF
		top: -45px
		left: 50%
		transform: translate(-50%, 0)

.infooter-block, .contact__infooter-block
	position: relative

.contact__infooter-block_link
	position: absolute
	display: block
	width: 100%
	min-height: 340px
	color: white
	font-size: 22px
	z-index: 1
	top: -380px
	padding: 60px 80px

.inner-page__footer
	padding-top: 280px

.white__content
	background: white

.contact_city-data
	padding: 40px 0
	color: #005B96

.city__address
	font-size: 24px
	font-weight: 300

.city_phone
	font-size: 32px
	font-weight: bold
	padding: 25px 0

.city_email
	font-size: 26px
	font-weight: 300

.city_phone:after
	content: ''
	display: inline-block
	width: 25px
	height: 25px
	background: url('img/icons/phone_blue.svg')
	margin-left: 10px

.contact_city-data
	padding: 40px 0
	color: #005B96

.city__address
	font-size: 24px
	font-weight: 300

.city_phone
	font-size: 32px
	font-weight: bold
	padding: 25px 0

.city_email
	font-size: 26px
	font-weight: 300

.city_phone:after
	content: ''
	display: inline-block
	width: 25px
	height: 25px
	background: url('img/icons/phone_blue.svg')
	margin-left: 10px

.callback_form
	padding: 50px 0 120px

.custom_label
	display: block
	font-size: 18px
	text-transform: uppercase
	color: #66CCFF
	margin-bottom: 10px

.default_input
	background: none
	color: white
	border: 0
	border-bottom: 2px solid white
	padding: 10px 0
	font-weight: bold
	font-size: 16px
	width: 100%
	margin-top: 10px
    font-family: $default-font
	&::placeholder
		color: white
		font-weight: bold
		font-size: 16px

.form-control
	margin: 40px 0

.default_textarea
	width: 100%
	background: none
	border: 0
	border-bottom: 2px solid white
	color: white
	font-size: 16px
	font-weight: bold
	min-height: 100px
	resize: vertical
    font-family: $default-font
	&::placeholder
		color: white
		font-size: 16px
		font-weight: bold

[class*='col'] > .form-control
	margin: 0

.contact_form
	> [class*='col']
		margin: 40px 0
	.notify
		font-size: 16px
		line-height: 20px
		color: white

.col-1_a
	display: grid
	grid-template-columns: 1fr auto

.text-left
	text-align: left

.contact_city-data
	display: none
	&.active
		display: block

.default_input option
	color: black

.inner-page_banner-item
	position: relative
	min-height: 500px

.inner_banner-desc
	position: absolute
	top: 60%
	transform: translate(0, -60%)
	color: white

.inner-page_banner-content h1
	font-size: 50px

.arrow-down_link
	display: inline-block
	width: 18px
	height: 33px
	background: url('/img/icons/arrow_down-white.svg') 50% no-repeat
	position: absolute
	bottom: 30px
	transition: $transition

.inner-page_banner-content .arrow-down_link:hover
	bottom: 40px

.inner-page h1
	font-size: 42px
	font-weight: 800
	color: #005B96
	line-height: 44px
	margin: 0 0 30px

.inner-page h5
	font-weight: 300
	font-size: 18px
	line-height: 24px
	margin: 20px 0

.inner-content p
	font-size: 16px
	font-weight: 300
	line-height: 22px
	padding: 10px 0

.inner-page h4
	font-size: 18px
	margin: 20px 0 5px
	text-transform: uppercase
	color: #71CAF3
	letter-spacing: .07em

.inner-content .white__content
	padding-bottom: 150px

.white__content
	position: relative

.white__content .inner-page
	padding: 50px 0 0

.blockquote-right
	width: 50%
	float: right
	right: -60px
	top: -50px

[class*='blockquote-']
	position: relative
	color: #005B96
	font-size: 24px
	font-weight: 300
	padding: 30px 50px
	&::after
		content: ''
		display: block
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		background: #E4F2FC
		transform: skew(175deg)

blockquote
	position: relative
	z-index: 1
	&:after
		content: '»'
		display: block
		font-size: 70px
		line-height: 50%
		position: absolute
		bottom: -20px
		right: -50px
	&:before
		content: '«'
		display: block
		font-size: 70px
		line-height: 50%
		position: absolute
		top: -20px
		left: -50px

.inner-content .white__content:after
	content: ''
	background-image: url(/img/backgrounds/white_lines-backbround.svg)
	background-size: cover
	background-repeat: no-repeat
	background-position: center
	width: 100%
	height: 100%
	display: block
	position: absolute
	top: 0
	opacity: 0.25

.show_submenu
	background: rgba(255, 255, 255, 0.9)

.submenu-item
	display: none
	padding: 40px 0
	a
		display: block
		color: #015B96
		font-weight: bold

.submenu-item a
	padding: 10px 0
	font-size: 18px
	&:hover
		color: #71CAF3
		text-decoration: underline


.mobile-submenu
	display: none
	a
		font-size: 16px
		padding: 15px 0

.custom_tooltip-item
	display: none

.custom_tooltip-item
	position: absolute
	bottom: 40px
	background: #E4F2FC
	padding: 20px
	border-radius: 5px
	color: #003355
	h5
		margin: 0 0 10px
		font-size: 16px
	span
		display: block
		font-size: 14px
		margin-bottom: 5px
	a
		color: #003353

.custom_tooltip-container
	cursor: pointer

@import "media" // Всегда в конце